<!DOCTYPE html>
<html>
  <head>
    <title>ReverseCRC Web</title>

    <link rel="stylesheet" type="text/css" href="index.css" />
  </head>

  <body>
    <div id="app" v-cloak>
      Everything is client side. Nothing is uploaded to or downloaded from the server<br />

      <br />

      Current CRC32: <input type="text" v-model="startCrc" v-on:input="calculated = false" /><br />

      Wanted CRC32: <input type="text" v-model="wantedCrc" v-on:input="calculated = false"/><br />

      <button v-on:click="generateCrc">Calculate</button><br />

      <br />

      <div v-if="calculated === true">
        ASCII: {{ patchAsciiString }}<br />

        Binary: {{ patchBinaryString }}<br />

        <button v-on:click="patchFile('ascii')">Patch file with ascii</button>

        <button v-on:click="patchFile('binary')">Patch file with binary</button>
      </div>
    </div>

    <script type="text/javascript">
      var Module = {
        onRuntimeInitialized() {
          initializeApp();
        }
      };
    </script>

    <script src="https://unpkg.com/petite-vue"></script>
    <script src="index.js"></script>

    <script src="reversecrc.js"></script>
  </body>
</html>
