<!DOCTYPE html>
<html>
  <head>
    <meta name="referrer" content="no-referrer" />

    <title>ReverseCRC Web</title>

    <link rel="stylesheet" type="text/css" href="index.css" />
  </head>

  <body>
    <div id="app" v-on:vue:mounted="mounted" v-cloak>
      <h3>
        Disclaimer
      </h3>

      Every patchs and manipulations are client side. Nothing is uploaded to the server. wagon_sound.dll is a dummy DLL with 4 boilerplate functions (int AnybrainStartSDK(void), int AnybrainStopSDK(void), int AnybrainSetCredentials(char*, char*) and int AnybrainSetUserId(char*, size_t)) that return 0 to bypass Anybrain. It is base64 encoded, so it is technically a binary download

      <br />

      <br />

      <hr />

      <div>
        <h3>
          Calculate CRC32
        </h3>

        Current CRC32:

        <input type="text" v-model="startCRC" v-on:input="calculated = false" />

        <br />

        Wanted CRC32:

        <input type="text" v-model="wantedCRC" v-on:input="calculated = false"/>

        <br />

        <button v-on:click="generateCRC">
          Calculate
        </button>

        <br />

        <br />

        <div v-if="calculated === true">
          ASCII: {{ patchAsciiString }}

          <br />

          Binary: {{ patchBinaryString }}

          <br />

          <button v-on:click="patchFileManually('ascii')">
            Patch file with ASCII
          </button>

          <button v-on:click="patchFileManually('binary')">
            Patch file with binary
          </button>

          <br />

          <br />
        </div>
      </div>

      <hr />

      <div>
        <h3>
          Patch files
        </h3>

        File to be patched:

        <input type="file" ref="baseFile" v-model="baseFilePath" />

        <br />

        Target file with desired CRC32:

        <input type="file" ref="targetFile" v-model="targetFilePath" />

        <br />

        <button v-if="filesToPatch === true" v-on:click="patchFiles('ascii')">
          Patch file with ASCII
        </button>

        <button v-if="filesToPatch === true" v-on:click="patchFiles('binary')">
          Patch file with binary
        </button>
      </div>

      <br />

      <hr />

      <div>
        <h3>
          wagon_sound.dll
        </h3>

        <button v-on:click="downloadWagonSound" v-bind:disabled="checksumsData === null">
          Download current patched wagon_sound.dll
        </button>
      </div>

      <br />

      <hr />

      <div>
        <h3>
          ravendawn_dx.exe
        </h3>

        <input type="checkbox" v-model="clientOptions.multiClient" />

        Allow multi client

        <br />

        <input type="checkbox" v-model="clientOptions.caveLight" />

        Cave light hack (Credits: evoked1000)

        <br />

        <input type="checkbox" v-model="clientOptions.groundTile" />

        Remove ground tile (Credits: evoked1000)

        <br />

        <input type="checkbox" v-model="clientOptions.worldLight" />

        World light hack

        <br />

        <input type="checkbox" v-model="clientOptions.zoom" />

        Zoom hack

        <br />

        <br />

        <button v-on:click="downloadRavendawnDx" v-bind:disabled="checksumsData === null">
          Download current patched ravendawn_dx.exe
        </button>
      </div>
    </div>

    <script type="text/javascript">
      var Module = {
        onRuntimeInitialized() {
          initializeApp();
        }
      };
    </script>

    <script src="crc32.js"></script>
    <script src="petite-vue.iife.js"></script>
    <script src="wagon_sound_dll.js"></script>
    <script src="index.js"></script>

    <script src="reversecrc.js"></script>
  </body>
</html>
