<!DOCTYPE html>
<html>
  <head>
    <title>ReverseCRC Web</title>

    <link rel="stylesheet" type="text/css" href="index.css" />
  </head>

  <body>
    <div id="app" v-cloak>
      Everything is client side. Nothing is uploaded to or downloaded from the server<br />

      <br />

      <div>
        Current CRC32: <input type="text" v-model="startCRC" v-on:input="calculated = false" /><br />

        Wanted CRC32: <input type="text" v-model="wantedCRC" v-on:input="calculated = false"/><br />

        <button v-on:click="generateCRC">Calculate</button><br />

        <br />

        <div v-if="calculated === true">
          ASCII: {{ patchAsciiString }}<br />

          Binary: {{ patchBinaryString }}<br />

          <button v-on:click="patchFileManually('ascii')">Patch file with ASCII</button>

          <button v-on:click="patchFileManually('binary')">Patch file with binary</button>
        </div>
      </div>

      <hr />

      <br />

      <div>
        File to be patched: <input type="file" ref="baseFile" v-model="baseFilePath" />

        <br />

        Target file with desired CRC32: <input type="file" ref="targetFile" v-model="targetFilePath" />

        <br />

        <button v-if="filesToPatch === true" v-on:click="patchFiles('ascii')">Patch file with ASCII</button>
        <button v-if="filesToPatch === true" v-on:click="patchFiles('binary')">Patch file with binary</button>
      </div>
    </div>

    <script type="text/javascript">
      var Module = {
        onRuntimeInitialized() {
          initializeApp();
        }
      };
    </script>

    <script src="https://unpkg.com/crc-32"></script>
    <script src="https://unpkg.com/petite-vue"></script>
    <script src="index.js"></script>

    <script src="reversecrc.js"></script>
  </body>
</html>
